*{
    margin : 0 auto;
}


body{
    background-color: darkgrey;
}
.container{
    align-items: center;
    justify-items: center;
    background-color: cadetblue;
    width: 300px;
    height: 200px;
}

